<div class="container">
    <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="modalCadastroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCadastroLabel">
                        {{ categoria.id ? 'Edição' : 'Cadastro' }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Categoria" asp-action="Gravar">
                    <div class="modal-body">
                        <input type="hidden" name="Id" ng-value="categoria.id" />
                        <label>Descrição *</label>
                        <input class="form-control mt-1" type="text" name="Descricao" ng-model="categoria.descricao" />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>